<div class="col-md-offset-1" ng-controller="workerController">

    <h2> Add a worker</h2>

    <form name="form_new_worker">

        <div class="col-md-5">
            <label for="name_worker"> Name : </label>
            <input class="form-control" type="text" id="name_worker"  ng-model="name_worker" required/>
            <br>
            <label for="adress_worker"> Adress : </label>
            <input class="form-control" type="text" id="adress_worker"  ng-model="adress_worker" required/>
            <br>
        </div>

        <br><br>

        <div class="col-lg-12">
            <br>
            <button ng-click="save(form_new_worker)" class="btn bg-primary">
                <span caria-hidden="true"></span> <i class="fa fa-floppy-o"></i> save 
            </button>
        </div>

    </form>

</div>