<div class="col-md-offset-1" ng-controller="workController">

    <h2>Edit  work</h2>
    <div ng-controller="editWorkCtrl">

        <form name="form_edit_work">

           <br>
           <h4> Change Author </h4>
           <div class="col-md-12">
            <fieldset class="scheduler-border col-md-6 fieldset-grey">
                <br>
                <label for="author_work"> Replacement author : </label>
                <br>
                <select class='form-control'  ng-model="author_work"
                ng-options='author.id as author.name for author in museumInfo.authors'>
            </select>
            <br>
        </fieldset>
    </div>

    <h4> General Informations </h4>
    <div class="col-md-12">
        <fieldset class="scheduler-border col-md-6 fieldset-grey">
            <br>
            <label for="title_work"> Title : </label>
            <input class="form-control" type="text" id="title_work"  ng-model="title_work" required/>
            <br>
            <label for="description_work"> Description : </label>
            <input class="form-control" type="text" id="description_work" ng-model="description_work" required/>
            <br>
            <label for="dimension_work"> Dimension : </label>
            <input class="form-control" type="text" id="dimension_work" ng-model="dimension_work" required/>
            <br>
            <label for="resume_work"> Resume : </label>
            <input class="form-control" type="text" id="resume_work" ng-model="resume_work" required/>
            <br>
            <label for="date_work"> Date : </label>
            <input class="form-control" type="text" id="date_work" ng-model="date_work" required/>
        </fieldset>
    </div>


    <h4> Work Type </h4>
    <div class="col-md-12">
        <fieldset class="scheduler-border col-md-6 fieldset-grey">
<br>
        <div class="switch"
        ng-switch on="work.type">

        <div class="animate-switch" ng-switch-when="sculpture">
            <label for="material_scul_work"> Material Work : </label>
            <br>
            <select class='form-control'  ng-model="$parent.material_scul_work"
            ng-options='spez.name for spez in specialities_sculpture'>
        </select>
    </div>

    <div class="switch" ng-switch-when="paint">
        <label for="material_paint_work"> Technical work : </label>
        <br>
        <select class='form-control'  ng-model="$parent.material_paint_work"
        ng-options='spe.name for spe in specialities_paint_technical_work'>
    </select>
    <br>
    <label for="sheld_work"> Sheld work : </label>
    <br>
    <select class='form-control'  ng-model="$parent.sheld_work"
    ng-options='sped.name for sped in specialities_paint_sheld_work'>
</select>
</div>
<div class="animate-switch" ng-switch-default>Choose a work type...</div>
</div>
</fieldset>
</div>

<div class="col-lg-12">
    <br>
    <div class="col-md-6 text-center">
        <button ng-click="edit(form_edit_work)" class="btn bg-primary">
            <span caria-hidden="true"></span> <i class="fa fa-floppy-o"></i> save 
        </button>
    </div>
</div>

</form>
</div>

</div>