<div class="col-md-offset-1" ng-controller="collectionController">

	<h2>Edit Collection</h2>

	<div ng-controller="editCollectionController">

		<form name="form_edit_collection">

			<br>

			<h4> General Informations </h4>
			<div class="col-md-12">
				<fieldset class="scheduler-border col-md-7 fieldset-grey">
					<br>
					<label for="title_collection"> Title : </label>
					<input class="form-control" type="text" id="title_collection" ng-model="title_collection" required/>
					<br>
					<label for="description_collection"> Description : </label>
					<input class="form-control" type="text" id="description_collection" ng-model="description_collection" required/>
					<br>
					<label for="comment_collection"> Comment : </label>
					<input class="form-control" type="text" id="comment_collection" ng-model="comment_collection" required/>
				</fieldset>
			</div>

		
				<h4> Tags </h4>
				<div class="col-md-12">
					<fieldset class="scheduler-border col-md-7 fieldset-grey">
						<div ng-repeat="tag in tags">
							<br>
							<label> Tag {{$index+1}} : </label>
							<div class="col-lg-12">
								<input class="form-control" type="text" placeholder="a tag..." ng-model="tag.text" required>
							</div>
							<br><br>
						</div>
						<br><br><br>
						<div class="col-lg-12">
							<button ng-click="addTag()" class="btn btn-default">
								<span caria-hidden="true"></span> <i class="fa fa-plus"></i> add tag
							</button>
							<button ng-click="removeTag()" class="btn btn-default">
								<span caria-hidden="true"></span> <i class="fa fa-plus"></i> remove tag
							</button>
						</div>
					</fieldset>
				</div>
			

			<br>

			<div class="col-lg-12">
				<br>
				<div class="col-md-7 text-center">
					<button ng-click="edit(form_edit_collection)" class="btn bg-primary">
						<span caria-hidden="true"></span> <i class="fa fa-floppy-o"></i> save modfication
					</button>
				</div>
			</div>


		</form>
	</div>
</div>