<div ng-controller="museumController">
<div ng-controller="initMuseumCtrl">
	<div class="text-center">
		<h2>Museum : {{museum.name}} {{museum.id}}</h2>
	</div>

	<div class="col-md-offset-1">

		<h3> Actions : </h3>

		<fieldset class="scheduler-border col-md-8 fieldset-grey">
			<div class="col-lg-12 text-center">
				<br>
				<a  href="#/create_worker/{{museum.id}}" class="btn btn-primary" role="button"> <i class="fa fa-plus"></i> New Author</a>
				&nbsp;&nbsp;&nbsp;
				<a  href="#/create_work/{{museum.id}}" class="btn btn-primary" role="button"> <i class="fa fa-plus"></i> New Work</a>
				&nbsp;&nbsp;&nbsp;
				<a  href="#/create_collection/{{museum.id}}" class="btn btn-primary" role="button"> <i class="fa fa-plus"></i> New Collection</a>
				&nbsp;&nbsp;&nbsp;
				<a  href="#/edit_museum/{{museum.id}}" class="btn btn-primary" role="button"> Edit this museum</a>
				&nbsp;&nbsp;&nbsp;
				<a  class="btn btn-primary btn-danger" ng-click="remove()" role="button"> <i class="fa fa-times"></i> Delete this museum</a>
				<br>
			</div>
		</fieldset>

		<br><br>
		<br><br>

		

		<div class="col-md-12">
		<h3> General informations : </h3>
			<fieldset class="scheduler-border col-md-5 fieldset-grey">
				<br>
				<label> Name : {{museum.name}} </label>
				<br>
				<label> Theme : {{museum.theme}} </label>
				<br>
				<label> Adress : {{museum.adress}} </label>
				<br>
				<label> Information : {{museum.information}} </label>
				<br>
			</fieldset>
		</div>

		<div class="col-md-4">
			<h3> Works list : </h3>
			<div ng-repeat="work in works_list">
				<li class="list-group-item" >
					<a ng-href="#/museum/{{museum.id}}/work/{{work.id}}"> {{work.title}} </a>
				</li>
			</div>
		</div>

		<div class="col-md-4">
			<h3> Authors list : </h3>
			<div ng-repeat="worker in workers_list">
				<li class="list-group-item">
					<a ng-href="#/worker/{{worker.id}}"> {{worker.name}} </a>
				</li>
			</div>
		</div>

		<div class="col-md-4">
			<h3> Collections list : </h3>
			<div ng-repeat="collection in collections_list">
				<li class="list-group-item">
					<a ng-href="#/museum/{{museum.id}}/collection/{{collection.id}}"> {{collection.title}} </a>
				</li>
			</div>
		</div>

	</div>
</div>